.root {
    -fx-background-image: url("../images/Background_Chat.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.text-field {
    -fx-background-color: white;
    -fx-font-size: 14px;
}

.button {
    -fx-font-size: 14px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.chat-dialog {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
